*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Foco Corp", "Times";
}




@mixin modaContent($image, $height, $width){
    display: block;
    background: url($image) no-repeat;
    height: $height;
    width: $width;
  }


.close {
    position: absolute;
    top: 16px;
    font-size: 26px;
    color: #fff;
    left: 16px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 1% 0;
}

.modal {
    &.hidden {
        display: none;
    }
}

.hidden {
    display: none;
}